@charset "UTF-8";
/**
  Убираем внешние и внутренние отступы
 */
* {
  margin: 0;
  padding: 0;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Убираем стандартную стилизацию ссылок
 */
a {
  text-decoration: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/** Делаем перенос текста */
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--font-family-base);
  font-weight: 500;
}

/** анимация */
.animate__animated {
  -webkit-animation-duration: 0.5s !important;
          animation-duration: 0.5s !important;
}

/** container */
.container {
  padding-inline: calc(50% - 600px);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

:root {
  --font-family-base: 'Montserrat', sans-serif;
  --color-white: #FFFFFF;
  --color-green-light: #E1FF8F;
  --color-green-dark: #BCEC30;
  --color-black: #202027;
}

.header__link-anchor:hover,
.game__intro-button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.fyp-card:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

button:focus-visible {
  border: none;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}
.header {
  position: relative;
}
.header__wrapper {
  background-color: var(--color-green-light);
  position: relative;
}
.header__content {
  padding: 196px 0 156px 0;
  max-width: 889px;
  position: relative;
}
.header__title {
  color: var(--color-black);
  font-size: clamp(48px, 4.5vw, 64px);
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 24px;
}
.header__title-line {
  width: 790px;
  display: block;
}
.header__description {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  max-width: 745px;
}
.header__description--bold {
  font-weight: 600;
}
.header__link-anchor {
  display: block;
  text-align: center;
  width: 247px;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 600;
  padding: 16px 28px;
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 60px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header__img {
  position: absolute;
  right: 0;
  top: 0;
}

.header::before {
  content: "";
  position: absolute;
  width: 57px;
  top: 94px;
  left: 63px;
  z-index: 2;
  height: 57px;
  background-image: url(../img/header__content-starBefore.svg);
}

.header::after {
  content: "";
  position: absolute;
  width: 35px;
  top: 69px;
  left: 156px;
  height: 35px;
  background-image: url(../img/header__content-starAfter.svg);
}

.header__wrapper::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  background-image: url(../img/header__wrapper-starBefore.svg);
  top: 538px;
  right: 433px;
}

.header__wrapper::after {
  content: "";
  position: absolute;
  height: 83px;
  width: 83px;
  background-image: url(../img/header__wrapper-starAfter.svg);
  top: 568px;
  right: 321px;
}

.dynamic-headline {
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-green-dark);
  height: 90px;
}
.dynamic-headline__text {
  position: relative;
  font-size: clamp(16px, 3.2vw, 30px);
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--color-black);
  margin-inline: 102px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.dynamic-headline__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scrollText 20s linear infinite;
          animation: scrollText 20s linear infinite;
}

.dynamic-headline__text::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url("/img/dynamic-headline__img-star.svg");
  top: 4px;
  left: -119px;
}

@-webkit-keyframes scrollText {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scrollText {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.fyp > .container {
  background-color: var(--color-black);
  position: relative;
}

.fyp > .container::before {
  content: "";
  width: 435px;
  position: absolute;
  height: 584.7165px;
  background-image: url(../img/cards-img/fyp__img-star.png);
  background-repeat: no-repeat;
  bottom: 774px;
  right: 0px;
}

.fyp__intro {
  padding-top: 94px;
  margin: 0 120px 72px 0;
}
.fyp__intro-title {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 24px;
}

.fyp-content {
  position: relative;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  grid-template-columns: repeat(3, minmax(0, 378px));
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.fyp-content__group {
  display: grid;
  gap: 32px;
  z-index: 2;
}
.fyp-content__group-first {
  position: relative;
}

.fyp-content__group-first::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  bottom: 571px;
  left: -80px;
  background-image: url(../img/cards-img/fyp__mini-starBefore-img.svg);
}

.fyp-content__group-first::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  bottom: 655px;
  left: -100px;
  background-image: url(../img/cards-img/fyp__mini-starAfter-img.svg);
}

.fyp-card {
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.1294117647);
          box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.1294117647);
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.fyp-card__text {
  margin: 32px 32px 36px 32px;
}
.fyp-card__text-number {
  font-size: 16px;
  background-color: #F7F7F7;
  border-radius: 52.58px;
  padding: 8px 16px 10px 16px;
  display: inline-block;
  color: var(--color-black);
  margin-bottom: 16px;
}
.fyp-card__text-name {
  font-size: clamp(24px, 2.5vw, 32px);
  font-weight: 700;
  max-width: 300px;
  color: var(--color-black);
}

.fyp-description__line {
  max-width: 788px;
  color: var(--color-white);
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.games {
  background-color: var(--color-black);
}
.games__container {
  position: relative;
  background-color: var(--color-black);
}
.games__wrapper {
  position: relative;
  padding-bottom: 144px;
  background-color: var(--color-black);
}
.games__title {
  padding-top: 96px;
  font-size: clamp(40px, 4.5vw, 64px);
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 72px;
}
.games__content {
  z-index: 2;
  position: relative;
}

.games__wrapper::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-image: url(../img/games-img/game__firstBefore-img.svg);
  right: 112px;
  top: 151px;
}

.games__wrapper::after {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
  background-image: url(../img/games-img/game__firstAfter-img.svg);
  right: 32px;
  top: 189px;
}

.games__container::before {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
  background-image: url(../img/games-img/game__lastBefore-img.svg);
  right: 120px;
  bottom: -156px;
}

.games__container::after {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
  background-image: url(../img/games-img/game__lastAfter-img.svg);
  right: 45px;
  bottom: -94px;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 30px;
  max-height: 500px;
}
.game__image {
  border-radius: 30px;
  width: 600px;
  height: auto;
}
.game__intro {
  margin: 48px 48px 85px 48px;
}
.game__intro-name {
  font-size: clamp(20px, 3.5vw, 48px);
  font-weight: 700;
  max-width: 459px;
  margin-bottom: 24px;
  color: var(--color-black);
}
.game__intro-description {
  font-size: clamp(16px, 2vw, 24px);
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 36px;
}
.game__intro-button {
  background-color: var(--color-black);
  border-radius: 60px;
  border: 1px solid var(--color-black);
  padding: 16px 28px;
  color: var(--color-white);
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  width: 247px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.first-game,
.last-game {
  position: relative;
}

.footer > .container {
  background-color: var(--color-green-dark);
  height: 150px;
}

.footer__title {
  text-align: center;
  color: var(--color-black);
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 600;
  padding-top: 61px;
}

@media (max-width: 1024px) {
  .fyp > .container::before {
    bottom: 323px;
  }
  .fyp-content {
    grid-template-columns: repeat(2, minmax(0, 378px));
  }
  .fyp-content__group:nth-of-type(3) {
    grid-auto-flow: column;
    grid-column: 1/-1;
  }
  .fyp-card {
    height: 516px;
  }
  .fyp-description__line {
    font-size: clamp(18px, 1.8vw, 24px);
  }
  .fyp__intro {
    margin: 0 0 60px 0;
  }
  .fyp__intro-title {
    font-size: clamp(53px, 4.5vw, 64px);
    margin-bottom: 15px;
  }
}
@media (max-width: 835px) {
  .fyp-card {
    height: 470px;
  }
  .fyp-card__img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .fyp {
    display: none;
  }
}
@media (max-width: 1220px) {
  .container {
    padding-inline: max(90px, 50% - 600px);
    margin-inline: auto;
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: max(16px, 50% - 600px);
    margin-inline: auto;
  }
}
@media (max-width: 1100px) {
  .header__description {
    font-size: clamp(16px, 1.8vw, 24px);
    max-width: 650px;
    text-wrap-style: balance;
  }
}
@media (max-width: 1024px) {
  .header__content {
    z-index: 2;
  }
  .header__title-line {
    width: auto;
  }
  .header__title {
    margin-bottom: 8px;
  }
  .header__description {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .header__title {
    font-size: clamp(40px, 4vw, 48px);
    text-align: center;
    margin-bottom: 24px;
  }
  .header__description {
    text-align: center;
    line-height: 1.3;
  }
  .header__img {
    display: none;
  }
  .header__link-anchor {
    position: relative;
    width: 285px;
    font-size: clamp(16px, 1.8vw, 24px);
    margin: 0 auto;
    padding: 16px 28px;
  }
  .header__content {
    padding: 147px 0 131px 0;
  }
  .dynamic-headline {
    height: 51px;
  }
  .dynamic-headline__text {
    margin-inline: 74px;
  }
  .dynamic-headline__text::after {
    top: 0px;
    left: -92px;
  }
  .header::before {
    content: "";
    position: absolute;
    width: 21px;
    top: 68px;
    left: 97px;
    z-index: 2;
    height: 21px;
    background-image: url(../img/adaptive/header__introBeforeAdaptive-img.svg);
  }
  .header::after {
    content: "";
    position: absolute;
    width: 35px;
    top: 95px;
    left: 42px;
    z-index: 2;
    height: 35px;
    background-image: url(../img/adaptive/header__introAfterAdaptive-img.svg);
  }
  .header__wrapper > .container {
    position: relative;
  }
  .header__wrapper > .container::before {
    content: "";
    position: absolute;
    height: 239px;
    width: 160px;
    right: 0;
    background-repeat: no-repeat;
    background-image: url(../img/adaptive/conteinerBeforeAdaptive-img.png);
  }
  .header__link-anchor::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-image: url(../img/adaptive/header-wrapperAdapBefore__img.svg);
    top: 90px;
    left: 226px;
    z-index: 2;
  }
  .header__link-anchor::after {
    content: "";
    position: absolute;
    height: 41px;
    width: 39px;
    background-image: url(../img/adaptive/header-wrapperAdapAfter__img.svg);
    top: 118px;
    left: 255px;
    z-index: 2;
  }
  .header__wrapper::before,
  .header__wrapper::after {
    display: none;
  }
}
@media (max-width: 595px) {
  .dynamic-headline__text::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(../img/adaptive/dynamic-lineAdaptiveStar-img.svg);
    left: -83px;
    top: 2px;
  }
}
@media (max-width: 376px) {
  .header__wrapper::before {
    top: 596px;
    left: 273px;
  }
  .header__wrapper::after {
    top: 612px;
    left: 304px;
  }
}
@media (max-width: 1160px) {
  .game {
    max-height: 450px;
  }
  .game__intro-name {
    margin-bottom: 15px;
  }
  .game__intro {
    margin: 29px 29px 32px 29px;
  }
  .game__intro-button {
    width: 230px;
  }
  .game__image {
    width: 400px;
  }
}
@media (max-width: 981px) {
  .game {
    max-height: 350px;
  }
  .game__image {
    max-width: 300px;
    min-width: unset;
    height: auto;
  }
  .game__intro-button {
    width: 190px;
  }
  .game__intro {
    margin: 32px 22px 32px 22px;
  }
  .game__intro-description {
    font-size: clamp(14px, 2vw, 24px);
    margin-bottom: 18px;
    line-height: 1.2;
  }
  .game__intro-name {
    margin-bottom: 10px;
  }
  .games__wrapper::after {
    right: 69px;
    top: 140px;
  }
  .games__wrapper::before {
    right: 154px;
    top: 177px;
  }
}
@media (max-width: 827px) {
  .container {
    padding-inline: max(15px, 50% - 600px);
    margin-inline: auto;
  }
  .games__wrapper {
    padding-bottom: 10px;
  }
  .games__content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .games__title {
    margin-bottom: 48px;
    padding-top: 48px;
  }
  .game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 343px;
    max-height: unset;
    height: unset;
  }
  .game__intro-name {
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 1.3;
  }
  .game__intro-description {
    font-size: 16px;
  }
  .game__intro-button {
    display: block;
    width: 285px;
    font-size: 16px;
    margin: 32px auto 0;
  }
  .game__intro {
    margin: 29px 29px 32px 29px;
  }
  .game__image {
    max-width: 343px;
    min-width: unset;
    height: auto;
  }
  .last-game {
    margin-bottom: 0;
  }
  .game:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .games__container::before,
  .games__container::after,
  .games__wrapper::before,
  .games__wrapper::after {
    display: none;
  }
}
@media (max-width: 370px) {
  .game {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .game__image {
    max-width: 300px;
  }
  .game__intro {
    margin: 29px 15px 32px 15px;
  }
  .game__intro-button {
    width: 235px;
  }
}