@media (max-width: 1024px) {
    .fyp>.container::before {
        bottom: 323px;
    }

    .fyp-content {
        grid-template-columns: repeat(2, minmax(0, 378px));
    }

    .fyp-content__group:nth-of-type(3) {
        grid-auto-flow: column;
        grid-column: 1 / -1;
    }

    .fyp-card {
        height: 516px;
    }

    .fyp-description__line {
        font-size: clamp(18px, 1.8vw, 24px);
    }

    .fyp {
        &__intro {
            margin: 0 0 60px 0;
        }

        &__intro-title {
            font-size: clamp(53px, 4.5vw, 64px);
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 835px) {
    .fyp-card {
        height: 470px;

        &__img{
            width: 100%;
        }
    }


}


@media (max-width: 767px) {
    .fyp {
        display: none;
    }
}