@media(max-width: 1160px) {
    .game {
        max-height: 450px;

        &__intro-name {
            margin-bottom: 15px;
        }

        &__intro {
            margin: 29px 29px 32px 29px;
        }

        &__intro-button {
            width: 230px;
        }

        &__image {
            width: 400px;
        }
    }
}

@media(max-width: 981px) {
    .game {
        max-height: 350px;

        &__image {
            max-width: 300px;
            min-width: unset;
            height: auto;
        }

        &__intro-button {
            width: 190px;
        }

        &__intro {
            margin: 32px 22px 32px 22px;
        }

        &__intro-description {
            font-size: clamp(14px, 2vw, 24px);
            margin-bottom: 18px;
            line-height: 1.2;
        }

        &__intro-name {
            margin-bottom: 10px;
        }
    }

    .games__wrapper::after {
        right: 69px;
        top: 140px;
    }

    .games__wrapper::before {
        right: 154px;
        top: 177px;
    }
}


@media(max-width: 827px) {
    .container {
        padding-inline: max(15px, calc(50% - 600px));
        margin-inline: auto;
    }

    .games {
        &__wrapper {
            padding-bottom: 10px;
        }

        &__content {
            width: fit-content;
            margin: 0 auto;
        }

        &__title {
            margin-bottom: 48px;
            padding-top: 48px;
        }
    }

    .game {
        display: flex;
        flex-direction: column;
        max-width: 343px;
        max-height: unset;
        height: unset;

        &__intro-name {
            font-size: 32px;
            margin-bottom: 16px;
            line-height: 1.3;
        }

        &__intro-description {
            font-size: 16px;
        }

        &__intro-button {
            display: block;
            width: 285px;
            font-size: 16px;
            margin: 32px auto 0;
        }

        &__intro {
            margin: 29px 29px 32px 29px;
        }

        &__image {
            max-width: 343px;
            min-width: unset;
            height: auto;
        }
    }

    .last-game {
        margin-bottom: 0;
    }

    .game:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .games__container::before,
    .games__container::after,
    .games__wrapper::before,
    .games__wrapper::after {
        display: none;
    }

}

@media(max-width: 370px) {
    .game {
        width: min-content;

        &__image {
            max-width: 300px;
        }

        &__intro {
            margin: 29px 15px 32px 15px;
        }

        &__intro-button {
            width: 235px;
        }
    }
}