.fyp>.container {
    background-color: var(--color-black);
    position: relative;
}

.fyp>.container::before {
    content: "";
    width: 435px;
    position: absolute;
    height: 584.7165px;
    background-image: url(./img/cards-img/fyp__img-star.png);
    background-repeat: no-repeat;
    bottom: 774px;
    right: 0px;
}

.fyp {

    &__intro {
        padding-top: 94px;
        margin: 0 120px 72px 0;
    }

    &__intro-title {
        font-size: 64px;
        font-weight: 700;
        color: var(--color-white);
        margin-bottom: 24px;
    }
}