
.footer>.container {
    background-color: var(--color-green-dark);
    height: 150px;
}

.footer__title {
    text-align: center;
    color: var(--color-black);
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 600;
    padding-top: 61px;
}
